Repository SquadronConsult/autonomous--hobbit-2-yeoomj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @vision-team, @ml-engineers, @robotics-team, @simulation-engineers, @backend-team, @frontend-team, @devops-team, @security-team, @technical-writers, @qa-team, @design-team

Add public-samples/autonomous--hobbit-2-yeoomj/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/ansible/inventory/dev.yml
  infrastructure/ansible/inventory/dev.yml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/ansible/inventory/prod.yml
  infrastructure/ansible/inventory/prod.yml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/ansible/playbooks/deploy.yml
  infrastructure/ansible/playbooks/deploy.yml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/ansible/playbooks/setup.yml
  infrastructure/ansible/playbooks/setup.yml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/ansible/roles/common/tasks/main.yml
  infrastructure/ansible/roles/common/tasks/main.yml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/ansible/roles/docker/tasks/main.yml
  infrastructure/ansible/roles/docker/tasks/main.yml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/ansible/roles/kubernetes/tasks/main.yml
  infrastructure/ansible/roles/kubernetes/tasks/main.yml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/ansible/roles/monitoring/tasks/main.yml
  infrastructure/ansible/roles/monitoring/tasks/main.yml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/docker/deepstream/Dockerfile
  infrastructure/docker/deepstream/Dockerfile
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/docker/gazebo/Dockerfile
  infrastructure/docker/gazebo/Dockerfile
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/docker/ros2/Dockerfile
  infrastructure/docker/ros2/Dockerfile
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/docker/tao/Dockerfile
  infrastructure/docker/tao/Dockerfile
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/backend/deployment.yaml
  infrastructure/k8s/apps/backend/deployment.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/backend/ingress.yaml
  infrastructure/k8s/apps/backend/ingress.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/backend/service.yaml
  infrastructure/k8s/apps/backend/service.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/deepstream/deployment.yaml
  infrastructure/k8s/apps/deepstream/deployment.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/deepstream/service.yaml
  infrastructure/k8s/apps/deepstream/service.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/gazebo/deployment.yaml
  infrastructure/k8s/apps/gazebo/deployment.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/gazebo/service.yaml
  infrastructure/k8s/apps/gazebo/service.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/minio/pvc.yaml
  infrastructure/k8s/apps/minio/pvc.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/minio/service.yaml
  infrastructure/k8s/apps/minio/service.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/minio/statefulset.yaml
  infrastructure/k8s/apps/minio/statefulset.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/redis/pvc.yaml
  infrastructure/k8s/apps/redis/pvc.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/redis/service.yaml
  infrastructure/k8s/apps/redis/service.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/redis/statefulset.yaml
  infrastructure/k8s/apps/redis/statefulset.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/ros2/deployment.yaml
  infrastructure/k8s/apps/ros2/deployment.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/ros2/service.yaml
  infrastructure/k8s/apps/ros2/service.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/tao/deployment.yaml
  infrastructure/k8s/apps/tao/deployment.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/tao/service.yaml
  infrastructure/k8s/apps/tao/service.yaml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/k8s/apps/timescaledb/pvc.yaml
  infrastructure/k8s/apps/timescaledb/pvc.yaml
Owners: @devops-team

.github/CODEOWNERS:

# Requires review from project maintainers for any changes
* @project-maintainers

# DeepStream video analytics and ML pipeline components
src/backend/src/deepstream/** @vision-team @ml-engineers

# TAO Toolkit model training and inference components
src/backend/src/tao/** @ml-engineers

# ROS 2 robotics control and navigation components
src/backend/src/ros2/** @robotics-team

# Gazebo simulation environment and plugins
src/backend/src/gazebo/** @robotics-team @simulation-engineers

# Backend service implementations
src/backend/src/services/** @backend-team

# Web dashboard and UI components
src/web/** @frontend-team

# Infrastructure configuration and deployment
infrastructure/** @devops-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @security-team

# Backend configuration files
src/backend/src/config/** @backend-team @security-team

# Security implementation file
src/backend/src/security.ts @security-team

# Security policy documentation
SECURITY.md @security-team

# Contributing guidelines
CONTRIBUTING.md @project-maintainers

# Core configuration files
package.json @backend-team @devops-team
tsconfig.json @backend-team @devops-team
jest.config.ts @backend-team @devops-team

# Database and storage components
src/backend/src/database/** @backend-team @devops-team

# API and endpoint definitions
src/backend/src/api/** @backend-team @security-team

# Monitoring and telemetry components
src/backend/src/monitoring/** @devops-team @backend-team

# Documentation files
docs/** @project-maintainers @technical-writers

# Test configurations and suites
tests/** @backend-team @qa-team
src/web/tests/** @frontend-team @qa-team

# Environment configurations
.env* @devops-team @security-team

# Container definitions
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Kubernetes manifests
k8s/** @devops-team @security-team

# Scripts and tools
scripts/** @devops-team @backend-team

# Asset files
src/web/src/assets/** @frontend-team @design-team

# Shared utilities and libraries
src/shared/** @backend-team @frontend-team
