Repository SquadronConsult/autonomous--hobbit-2-yeoomj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @vision-team, @ml-engineers, @robotics-team, @simulation-engineers, @backend-team, @frontend-team, @devops-team, @security-team, @technical-writers, @qa-team, @design-team

.github/CODEOWNERS:

# Requires review from project maintainers for any changes
* @project-maintainers

# DeepStream video analytics and ML pipeline components
src/backend/src/deepstream/** @vision-team @ml-engineers

# TAO Toolkit model training and inference components
src/backend/src/tao/** @ml-engineers

# ROS 2 robotics control and navigation components
src/backend/src/ros2/** @robotics-team

# Gazebo simulation environment and plugins
src/backend/src/gazebo/** @robotics-team @simulation-engineers

# Backend service implementations
src/backend/src/services/** @backend-team

# Web dashboard and UI components
src/web/** @frontend-team

# Infrastructure configuration and deployment
infrastructure/** @devops-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @security-team

# Backend configuration files
src/backend/src/config/** @backend-team @security-team

# Security implementation file
src/backend/src/security.ts @security-team

# Security policy documentation
SECURITY.md @security-team

# Contributing guidelines
CONTRIBUTING.md @project-maintainers

# Core configuration files
package.json @backend-team @devops-team
tsconfig.json @backend-team @devops-team
jest.config.ts @backend-team @devops-team

# Database and storage components
src/backend/src/database/** @backend-team @devops-team

# API and endpoint definitions
src/backend/src/api/** @backend-team @security-team

# Monitoring and telemetry components
src/backend/src/monitoring/** @devops-team @backend-team

# Documentation files
docs/** @project-maintainers @technical-writers

# Test configurations and suites
tests/** @backend-team @qa-team
src/web/tests/** @frontend-team @qa-team

# Environment configurations
.env* @devops-team @security-team

# Container definitions
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Kubernetes manifests
k8s/** @devops-team @security-team

# Scripts and tools
scripts/** @devops-team @backend-team

# Asset files
src/web/src/assets/** @frontend-team @design-team

# Shared utilities and libraries
src/shared/** @backend-team @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/gazebo/plugins/sensorPlugin.cpp
  src/backend/src/gazebo/plugins/sensorPlugin.cpp
Owners: @robotics-team, @simulation-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/gazebo/simulation/environment.world
  src/backend/src/gazebo/simulation/environment.world
Owners: @robotics-team, @simulation-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/interfaces/IAnalytics.ts
  src/backend/src/interfaces/IAnalytics.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/interfaces/IDevice.ts
  src/backend/src/interfaces/IDevice.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/interfaces/IMission.ts
  src/backend/src/interfaces/IMission.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/interfaces/ITelemetry.ts
  src/backend/src/interfaces/ITelemetry.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/interfaces/ITreatment.ts
  src/backend/src/interfaces/ITreatment.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/middleware/auth.middleware.ts
  src/backend/src/middleware/auth.middleware.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/middleware/error.middleware.ts
  src/backend/src/middleware/error.middleware.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/middleware/logging.middleware.ts
  src/backend/src/middleware/logging.middleware.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/middleware/validation.middleware.ts
  src/backend/src/middleware/validation.middleware.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/models/Analytics.ts
  src/backend/src/models/Analytics.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/models/Device.ts
  src/backend/src/models/Device.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/models/Mission.ts
  src/backend/src/models/Mission.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/models/Telemetry.ts
  src/backend/src/models/Telemetry.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/models/Treatment.ts
  src/backend/src/models/Treatment.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/ros2/launch/system.launch.py
  src/backend/src/ros2/launch/system.launch.py
Owners: @robotics-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/ros2/msgs/DeviceStatus.msg
  src/backend/src/ros2/msgs/DeviceStatus.msg
Owners: @robotics-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/ros2/msgs/MissionCommand.msg
  src/backend/src/ros2/msgs/MissionCommand.msg
Owners: @robotics-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/ros2/msgs/TelemetryData.msg
  src/backend/src/ros2/msgs/TelemetryData.msg
Owners: @robotics-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/ros2/nodes/fleetController.cpp
  src/backend/src/ros2/nodes/fleetController.cpp
Owners: @robotics-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/ros2/nodes/navigationController.cpp
  src/backend/src/ros2/nodes/navigationController.cpp
Owners: @robotics-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/ros2/nodes/telemetryCollector.cpp
  src/backend/src/ros2/nodes/telemetryCollector.cpp
Owners: @robotics-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/routes/analytics.routes.ts
  src/backend/src/routes/analytics.routes.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/routes/device.routes.ts
  src/backend/src/routes/device.routes.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/routes/mission.routes.ts
  src/backend/src/routes/mission.routes.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/routes/telemetry.routes.ts
  src/backend/src/routes/telemetry.routes.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/routes/treatment.routes.ts
  src/backend/src/routes/treatment.routes.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/services/analytics.service.ts
  src/backend/src/services/analytics.service.ts
Owners: @backend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/services/device.service.ts
  src/backend/src/services/device.service.ts
Owners: @backend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/services/mission.service.ts
  src/backend/src/services/mission.service.ts
Owners: @backend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/services/telemetry.service.ts
  src/backend/src/services/telemetry.service.ts
Owners: @backend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/services/treatment.service.ts
  src/backend/src/services/treatment.service.ts
Owners: @backend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/tao/inference/inferenceEngine.py
  src/backend/src/tao/inference/inferenceEngine.py
Owners: @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/tao/models/cropAnalysis/config.yaml
  src/backend/src/tao/models/cropAnalysis/config.yaml
Owners: @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/tao/models/pestDetection/config.yaml
  src/backend/src/tao/models/pestDetection/config.yaml
Owners: @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/tao/training/dataLoader.py
  src/backend/src/tao/training/dataLoader.py
Owners: @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/tao/training/modelTrainer.py
  src/backend/src/tao/training/modelTrainer.py
Owners: @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/utils/database.ts
  src/backend/src/utils/database.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/utils/logger.ts
  src/backend/src/utils/logger.ts
Owners: @project-maintainers
