Repository SquadronConsult/autonomous--hobbit-2-yeoomj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @vision-team, @ml-engineers, @robotics-team, @simulation-engineers, @backend-team, @frontend-team, @devops-team, @security-team, @technical-writers, @qa-team, @design-team

.github/CODEOWNERS:

# Requires review from project maintainers for any changes
* @project-maintainers

# DeepStream video analytics and ML pipeline components
src/backend/src/deepstream/** @vision-team @ml-engineers

# TAO Toolkit model training and inference components
src/backend/src/tao/** @ml-engineers

# ROS 2 robotics control and navigation components
src/backend/src/ros2/** @robotics-team

# Gazebo simulation environment and plugins
src/backend/src/gazebo/** @robotics-team @simulation-engineers

# Backend service implementations
src/backend/src/services/** @backend-team

# Web dashboard and UI components
src/web/** @frontend-team

# Infrastructure configuration and deployment
infrastructure/** @devops-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @security-team

# Backend configuration files
src/backend/src/config/** @backend-team @security-team

# Security implementation file
src/backend/src/security.ts @security-team

# Security policy documentation
SECURITY.md @security-team

# Contributing guidelines
CONTRIBUTING.md @project-maintainers

# Core configuration files
package.json @backend-team @devops-team
tsconfig.json @backend-team @devops-team
jest.config.ts @backend-team @devops-team

# Database and storage components
src/backend/src/database/** @backend-team @devops-team

# API and endpoint definitions
src/backend/src/api/** @backend-team @security-team

# Monitoring and telemetry components
src/backend/src/monitoring/** @devops-team @backend-team

# Documentation files
docs/** @project-maintainers @technical-writers

# Test configurations and suites
tests/** @backend-team @qa-team
src/web/tests/** @frontend-team @qa-team

# Environment configurations
.env* @devops-team @security-team

# Container definitions
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Kubernetes manifests
k8s/** @devops-team @security-team

# Scripts and tools
scripts/** @devops-team @backend-team

# Asset files
src/web/src/assets/** @frontend-team @design-team

# Shared utilities and libraries
src/shared/** @backend-team @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/utils/metrics.ts
  src/backend/src/utils/metrics.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/utils/security.ts
  src/backend/src/utils/security.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/utils/validation.ts
  src/backend/src/utils/validation.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/validators/analytics.validator.ts
  src/backend/src/validators/analytics.validator.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/validators/device.validator.ts
  src/backend/src/validators/device.validator.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/validators/mission.validator.ts
  src/backend/src/validators/mission.validator.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/validators/telemetry.validator.ts
  src/backend/src/validators/telemetry.validator.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/validators/treatment.validator.ts
  src/backend/src/validators/treatment.validator.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/e2e/mission.test.ts
  src/backend/tests/e2e/mission.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/e2e/telemetry.test.ts
  src/backend/tests/e2e/telemetry.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/e2e/treatment.test.ts
  src/backend/tests/e2e/treatment.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/integration/api.test.ts
  src/backend/tests/integration/api.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/integration/database.test.ts
  src/backend/tests/integration/database.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/integration/ros.test.ts
  src/backend/tests/integration/ros.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/unit/controllers/analytics.test.ts
  src/backend/tests/unit/controllers/analytics.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/unit/controllers/device.test.ts
  src/backend/tests/unit/controllers/device.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/unit/controllers/mission.test.ts
  src/backend/tests/unit/controllers/mission.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/unit/services/analytics.test.ts
  src/backend/tests/unit/services/analytics.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/unit/services/device.test.ts
  src/backend/tests/unit/services/device.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tests/unit/services/mission.test.ts
  src/backend/tests/unit/services/mission.test.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/.env.example
  src/web/.env.example
Owners: @devops-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/Dockerfile
  src/web/Dockerfile
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @backend-team, @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/package.json
  src/web/package.json
Owners: @backend-team, @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @backend-team, @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/src/assets/fonts/Roboto-Bold.ttf
  src/web/src/assets/fonts/Roboto-Bold.ttf
Owners: @frontend-team, @design-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/src/assets/fonts/Roboto-Medium.ttf
  src/web/src/assets/fonts/Roboto-Medium.ttf
Owners: @frontend-team, @design-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/src/assets/fonts/Roboto-Regular.ttf
  src/web/src/assets/fonts/Roboto-Regular.ttf
Owners: @frontend-team, @design-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/src/assets/icons/analytics.svg
  src/web/src/assets/icons/analytics.svg
Owners: @frontend-team, @design-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/src/assets/icons/drone.svg
  src/web/src/assets/icons/drone.svg
Owners: @frontend-team, @design-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/web/src/assets/icons/mission.svg
  src/web/src/assets/icons/mission.svg
Owners: @frontend-team, @design-team
