Repository SquadronConsult/autonomous--hobbit-2-yeoomj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @vision-team, @ml-engineers, @robotics-team, @simulation-engineers, @backend-team, @frontend-team, @devops-team, @security-team, @technical-writers, @qa-team, @design-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/.env.example
  src/backend/.env.example
Owners: @devops-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/README.md
  src/backend/README.md
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/package.json
  src/backend/package.json
Owners: @backend-team, @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @devops-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/config/database.ts
  src/backend/src/config/database.ts
Owners: @backend-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/config/deepstream.ts
  src/backend/src/config/deepstream.ts
Owners: @backend-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/config/gazebo.ts
  src/backend/src/config/gazebo.ts
Owners: @backend-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/config/logging.ts
  src/backend/src/config/logging.ts
Owners: @backend-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/config/minio.ts
  src/backend/src/config/minio.ts
Owners: @backend-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/config/redis.ts
  src/backend/src/config/redis.ts
Owners: @backend-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/config/ros.ts
  src/backend/src/config/ros.ts
Owners: @backend-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/config/security.ts
  src/backend/src/config/security.ts
Owners: @backend-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/config/tao.ts
  src/backend/src/config/tao.ts
Owners: @backend-team, @security-team

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/constants/errorCodes.ts
  src/backend/src/constants/errorCodes.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/constants/missionStatus.ts
  src/backend/src/constants/missionStatus.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/constants/robotTypes.ts
  src/backend/src/constants/robotTypes.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/constants/telemetryTypes.ts
  src/backend/src/constants/telemetryTypes.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/controllers/analytics.controller.ts
  src/backend/src/controllers/analytics.controller.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/controllers/device.controller.ts
  src/backend/src/controllers/device.controller.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/controllers/mission.controller.ts
  src/backend/src/controllers/mission.controller.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/controllers/telemetry.controller.ts
  src/backend/src/controllers/telemetry.controller.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/controllers/treatment.controller.ts
  src/backend/src/controllers/treatment.controller.ts
Owners: @project-maintainers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/deepstream/CMakeLists.txt
  src/backend/src/deepstream/CMakeLists.txt
Owners: @vision-team, @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/deepstream/pipeline.cpp
  src/backend/src/deepstream/pipeline.cpp
Owners: @vision-team, @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/deepstream/models/README.md
  src/backend/src/deepstream/models/README.md
Owners: @vision-team, @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/deepstream/processors/objectDetection.cpp
  src/backend/src/deepstream/processors/objectDetection.cpp
Owners: @vision-team, @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/deepstream/processors/videoAnalytics.cpp
  src/backend/src/deepstream/processors/videoAnalytics.cpp
Owners: @vision-team, @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/deepstream/utils/tensorrt.cpp
  src/backend/src/deepstream/utils/tensorrt.cpp
Owners: @vision-team, @ml-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/gazebo/models/drone.sdf
  src/backend/src/gazebo/models/drone.sdf
Owners: @robotics-team, @simulation-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/gazebo/models/groundRobot.sdf
  src/backend/src/gazebo/models/groundRobot.sdf
Owners: @robotics-team, @simulation-engineers

Add public-samples/autonomous--hobbit-2-yeoomj/src/backend/src/gazebo/plugins/robotController.cpp
  src/backend/src/gazebo/plugins/robotController.cpp
Owners: @robotics-team, @simulation-engineers

.github/CODEOWNERS:

# Requires review from project maintainers for any changes
* @project-maintainers

# DeepStream video analytics and ML pipeline components
src/backend/src/deepstream/** @vision-team @ml-engineers

# TAO Toolkit model training and inference components
src/backend/src/tao/** @ml-engineers

# ROS 2 robotics control and navigation components
src/backend/src/ros2/** @robotics-team

# Gazebo simulation environment and plugins
src/backend/src/gazebo/** @robotics-team @simulation-engineers

# Backend service implementations
src/backend/src/services/** @backend-team

# Web dashboard and UI components
src/web/** @frontend-team

# Infrastructure configuration and deployment
infrastructure/** @devops-team

# CI/CD pipeline configurations
.github/workflows/** @devops-team @security-team

# Backend configuration files
src/backend/src/config/** @backend-team @security-team

# Security implementation file
src/backend/src/security.ts @security-team

# Security policy documentation
SECURITY.md @security-team

# Contributing guidelines
CONTRIBUTING.md @project-maintainers

# Core configuration files
package.json @backend-team @devops-team
tsconfig.json @backend-team @devops-team
jest.config.ts @backend-team @devops-team

# Database and storage components
src/backend/src/database/** @backend-team @devops-team

# API and endpoint definitions
src/backend/src/api/** @backend-team @security-team

# Monitoring and telemetry components
src/backend/src/monitoring/** @devops-team @backend-team

# Documentation files
docs/** @project-maintainers @technical-writers

# Test configurations and suites
tests/** @backend-team @qa-team
src/web/tests/** @frontend-team @qa-team

# Environment configurations
.env* @devops-team @security-team

# Container definitions
Dockerfile* @devops-team
docker-compose*.yml @devops-team

# Kubernetes manifests
k8s/** @devops-team @security-team

# Scripts and tools
scripts/** @devops-team @backend-team

# Asset files
src/web/src/assets/** @frontend-team @design-team

# Shared utilities and libraries
src/shared/** @backend-team @frontend-team
